:root {
--green_color: #58c934;
--font: Arial;
}


.header
{
width: 100%;
height: 650px;
background-color: #f3f3f3;
opacity: 0.9;
background-size: 50% 100%;
background: linear-gradient(-15deg, transparent 70px, #f3f3f3 0) right, linear-gradient(10deg, transparent 10%, #f3f3f3 0) left;
z-index: 400;}

.logo{
width: 220px;
height: 19px;
background-color: var(--green_color);
width: 80%;
float: left;
}

.list {position: absolute;
left: 78%;
top: 35px;
z-index: 500;
padding: 0;
margin:0;
background-color: #f3f3f3;
width: 18%;
border: 2px solid grey;
font-family: var(--font);
display: none;
}

.list>li>a {text-decoration: none; color: black;}

#menu {
width: 15px;
}

#menu_object {
width: 5%;
float: right;
}

.line_above {
height: 40px;
padding: 1% 3% 0 3%;
}

#more_in_header {padding-top: 10%;}

#page2 { width: 100%;width: 100%; padding-top: 65%;}

#page1, #page3, #page4 {display: none;
width: 100%; padding-top: 65%;}

.header_cont {
padding: 1%;
display: flex;
flex-direction: row;
border: 1px solid #f3f3f3;
background-image: url(pics/back_photo1.png);
background-repeat: no-repeat;
}



ul {
padding: 14% 4%;
}

li>a {text-decoration: none;}

li.page_numbers>a{
width: 16px;
color: #000000;
font-family: var(--font);
font-size: 18px;
font-weight: 400;
line-height: 27px;
}
li.current_page>a{
width: 118px;
height: 38px;
color: var(--green_color);
font-family: var(--font);
font-size: 100px;
font-weight: 700;
line-height: 87px;
margin-top: 25%;}

/* Style for "PREV" */
.next {
width: 100%;
height: 33px;
color: #000000;
font-family: var(--font);
font-weight: 400;
text-transform: uppercase;
text-align: right;
position: relative;
bottom: 65px;
right: 20px;}

sup(near the heading) {
width: 19px;
height: 14px;
color: var(--green_color);
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}

.presee {
text-align: center;
width: 80%;}

.general_heading{
/* Style for "WE LOVE GA" */
width: 120px;
color: #000000;
font-family: var(--font);
font-size: 65px;
font-weight: 700;
line-height: 45px;
text-transform: uppercase;
padding: 50% auto auto auto;
position: relative;
top: 50px;
z-index: 300;
}
.border_green_for_heading{
width: 30%;
height: 380px;
border: 6px solid var(--green_color);
position: relative;
bottom: 70px;
left: 301px;
z-index: 299;
text-align: left;
padding: 3%;}

.content_under_heading{
width: 394px;
height: 148px;
color: #000000;
font-family: var(--font);
font-size: 18px;
font-weight: 400;
line-height: 27px;

}



/* Style for "Read More" */
.more {
height: 14px;
color: #000000;
font-family: var(--font);
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-decoration: underline var(--green_color);
}



.projects {
width: 100%;
}

.proj1 {
margin: 1% 20%;
height: 300px;
}

/* Style for "Picture 1" */
.pic1{width: 300px;
height: 180px;
position: relative;
bottom: 180px;
left: 210px;
z-index: 2;}

.highlight{
/* Style for "OUR PROJEC" */
width: 100%;
color: #000000;
font-family: var(--font);
font-size: 32px;
font-weight: 700;
line-height: 27px;
text-transform: uppercase;
/* Text style for "OUR PROJEC" */
letter-spacing: 1.6px;
text-align: center;
padding-top: 2%;
}

.bold_second_highlight {
/* Style for "URBAN CEIL" */
width: 161px;
height: 37px;
color: #000000;
font-family: var(--font);
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
}

/* Style for "Divider" */


.content{
/* Style for "Is a set o" */
width: 30%;
color: #000000;
font-family: var(--font);
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.readMore{
width: 85px;
height: 15px;
color: #000000;
font-family: var(--font);
font-size: 18px;
font-weight: 400;
line-height: 27px;
}

.proj1>.more {left:0;}

.proj1>.bold_second_highlight {left:0;}

.line {width: 370px;
height: 2px;
background-color: var(--green_color);
z-index: 3 !important;}

.proj2 {
width: 40%;
margin: 8%;
height: 400px;
}

.proj2>.content, .proj2>.bold_second_highlight, .proj2>.more {
width: 130px;
position: relative; 
left: 40px;}

.proj2>.content {margin: 0.9%;}

.proj2>.line_str {position: relative;
bottom: 690px;
left: 30px;}

/* Style for "Picture 2" */
.pic2 {width: 200px;
height: 250px;
}
.green_border_near_2nd_picture
{ width: 200px;
height: 420px;
border: 6px solid var(--green_color);
position: relative;
bottom: 420px;
right: 30px;
}

/* Style for "Divider near 2nd picture" */
.line_str {width: 2px;
height: 250px;
background-color: var(--green_color);
}



.proj3 {height: 400px;
margin-top: 19%;
width: 40%;
}

.proj3>.content {width: 150px !important;
}

.proj3>.content, .proj3>.bold_second_highlight, .proj3>.more {
width: 100px;
position: relative; 
left: 40px;}


/* Style for "Picture 3" */
.pic3 {
width: 200px;
height: 218px;
}

.z2and3 {display: flex;
flex-direction: row;
height: 550px;
margin-left: 15%;
margin-right: auto;}

.proj3>.line_str {position: relative;
bottom: 360px;
left: 30px;}

.proj4 {height: 200px;
margin-top: 0%;
position: relative;
left: 25%;
width: 100%;}

.proj4>.pic1 {bottom: 0px;
top: 100px;
left: 0px;}

.proj4>.content, .proj4>.bold_second_highlight, .proj4>.more {
width: 200px;
position: relative; 
bottom: 30px;
left: 240px;
text-align: right;}
.proj4>.line {position: relative; left: 70px; bottom: 32px;}

/* Style for "Green border for u want to see more" */


/* Style for "div u want to see" */
.div_u_want {width: 65%;
background-color: #f3f3f3;
margin: 6% auto;
height: 100px;
text-align: center;
padding-top: 1%;}


.green_border_u_want {width: 65%;
height: 100px;
border: 6px solid var(--green_color);
position: relative;
top: 140px;
left: 14%;}

.people1 {width: 100%;
background-color: #f3f3f3;
text-align: center;
padding: 2%;
height: 280px;
background: linear-gradient(-15deg, transparent 70px, #f3f3f3 0) right, linear-gradient(10deg, transparent 10%, #f3f3f3 0) left;
}

/* Style for "Photo" */
.people_on_picture {width: 30%;
}
.alt {
width: 100%;
display: flex;
flex-direction: row;
position: relative; bottom: 175px;
padding: 2%;
margin: 0 2%;
}
.people1> div.content {
 text-align: center;
padding: 0 auto;
margin-right: 2%;
 width: 30%;
margin-top: 0;
}

/* Style for "green border" */
.border_near_people {width: 30%;
height: 60%;
border: 6px solid var(--green_color);
position: relative;
bottom: 170px;
left: 68%;}

/* Style for "our blog" */
.blog {width: 100%;
margin-left: auto;
margin-right: auto;
height: 650px;}

.blog_graphics {width: 49%; margin: 10% 2% 0 5%; height: 200px;}

.blog_graphics>.pic1 {bottom: 0px; width: 55%; left: 20px; z-index: 300;}

.blog_graphics>.bold_second_highlight {position: relative; bottom: 565px; left: 50px;}

.blog_content {height: 200px;
position: relative;
bottom: 200px;
left: 50%;
width: 50%;}

.blog_content#text_in_new2 {
width: 49%; margin: 20% 2% 0 5%; height: 200px;
position: relative;
left: 3%;}

.blog_graphics#new2 {
height: 200px;
position: relative;
bottom: 250px;
left: 50%;
/*width: 60%;*/}

#new2>.pic1 {bottom: 200px; left: -15%;}

.blog_content>.content {width: 50%;}

/* Style for "green border in blog" */
.border_blog {width: 60%; /*500px;*/
height: 200px; /*524px;*/
border: 5px solid var(--green_color);
position: relative;
bottom: 220px;
z-index: 301;}

/* Style for "Divider" */
.line_in_blog {width: 2px;
height: 150px;
background-color: var(--green_color);
position: relative;
bottom: 420px;
left: 15%;
z-index: 301;
}

#new2>.line_in_blog {width: 2px;
height: 150px;
background-color: var(--green_color);
position: relative;
bottom: 420px;
left: 29%;
z-index: 301;
}

#new2>.bold_second_highlight {left: 10px; text-align: right;}

.blog>div>.more {text-decoration: underline var(--green_color);}

#contact {height: 360px;}

#contact>.highlight {padding-bottom: 3%;}

.people1>span.more {text-align: bottom;}

/* Style for "line for name" */
.line_for_name {width: 60%;
height: 12px;
background-color: #f3f3f3; 
border-bottom: 2px solid var(--green_color);
border-top: #f3f3f3;
border-left: #f3f3f3;
border-right: #f3f3f3;
padding: 1%;}

#name_in_form, #email {text-decoration: none;}

.line_for_name:focus {border-bottom: 2px solid var(--green_color);  /*разобраться с этим в js*/
border-top: #f3f3f3;
border-left: #f3f3f3;
border-right: #f3f3f3;}

#next, #finish {
height: 50px;
 padding: 2% 0%;
/*border-bottom: 2px solid var(--green_color);
border-top: none;
border-left: none;
border-right: none;*/
border: none;
background-color: #f3f3f3;
text-decoration: underline var(--green_color);
}

.x{width: 50%;
margin-left: auto; 
text-align: right;
padding-right: 10%;} /*this class was created to locate the button "next" on the right*/
.x>.more {height: 50px;}
#next_picture {}


/* Style for "Social" */
.social {width: 26px;
height: 26px;
background-color: #000000;
}

#twi {border-radius: 2px; height: 22px; margin-bottom: 2px; }

/* Style for "Products in footer" */
.copyright {width: 100%;
height: 41px;
opacity: 0.5;
color: #000000;
font-family: var(--font);
font-size: 17px;
font-weight: 400;
line-height: 24px;
text-align: center;
margin-top: 1%;
}




@media screen and (min-width: 1200px) {
ul {padding: 10% 4%;}
.header_cont {width: 1250px; margin-left: auto; margin-right: auto;}
.projects {width: 80%; margin-left: auto; margin-right: auto; border: 5% solid #f3f3f3;}
.proj1 {margin-left: 27%;}
.z2and3 {margin-bottom: 5%;}
.proj4{left: 35%;}
.green_border_u_want {top: 175px;}
.people1 {height: 450px;}
.border_near_people {bottom: 330px; left: 66%; height: 80%;}
.alt {bottom: 385px;}
.blog {height: 750px; width: 80%; margin-top: 3%;}
.blog_graphics {margin-left: 15%;}
.blog_content {left: 60%;}
.blog_graphics>.bold_second_highlight {left: 110px;}
#new2>.pic1 {bottom: 300px;}
#new2>.line_in_blog {bottom: 530px;}
#new2>.bold_second_highlight {bottom: 660px; left: 26px;}
.blog_content#text_in_new2 {left: 17%; bottom: 230px;}
.header_cont {width: 100%;}
}

@media screen and (min-width: 1400px) {
.people1 {height: 550px;}
.border_near_people {bottom: 370px; left: 66%; height: 80%;}
.alt {bottom: 455px;}
.blog_content#text_in_new2 {left: 17%; bottom: 190px;}
.blog {height: 850px;}
.green_border_u_want {top: 200px;}
.header_cont {width: 1300px; margin-left: auto; margin-right: auto;}
}

@media screen and (max-width: 1200px) {
.people1 {height: 350px;}
.border_near_people {bottom: 200px}
.alt {bottom: 205px;}
.blog {margin-top: 2%; height: 700px;}
#new2>.pic1 {bottom: 300px;}
#new2>.line_in_blog {bottom: 530px;}
#new2>.bold_second_highlight {bottom: 660px; left: 26px;}
.blog_content#text_in_new2 {left: 19%; bottom: 250px;}
.blog_graphics {margin-left: 15%;}
.blog_content {left: 60%;}
.blog_graphics>.bold_second_highlight {left: 130px;}
#contact {height: 300px;}
}

@media screen and (max-width: 850px) {
.people1 {height: 300px;}
.border_near_people {bottom: 200px; left: 66%; height: 70%;}
.alt {bottom: 215px;}
.blog {margin-top: 5%; margin-left: 5%; height: 600px;}
.blog_graphics {margin-left: 15%;}
.blog_content {left: 60%;}
#contact {height: 300px;}
.blog_content#text_in_new2 {left: 17%; bottom: 270px;}
}

@media screen and (max-width: 680px) {
.border_green_for_heading {width: 50%; left: 181px;}
.blog {height: 520px;}
.blog_graphics>.bold_second_highlight {left: 80px;}
}

@media screen and (max-width: 612px) {
.border_green_for_heading {width: 50%; left: 81px;}
.proj1 {margin-left: 10%;}
#new2>.pic1 {bottom: 270px;}
#new2>.bold_second_highlight {bottom: 640px; left: 20px;}
#new2>.line_in_blog {bottom: 500px;}
.blog_content#text_in_new2 {left: 18%; bottom: 255px;}
#contact {height: 260px;}
}

@media screen and (max-width: 580px) {
.general_heading {font-size: 55px;}
.projects {height: 1380px;}
.pic1 {left: 180px; width: 200px;}
.z2and3 {flex-direction: column; margin-left: 35%;}
.proj4 {top: 280px;}
.proj4>.pic1 {Width: 200px;}
.proj4>.line {width: 270px;}
.proj4>.content, .proj4>.bold_second_highlight, .proj4>.more {left: 140px;}
.green_border_u_want {top: 120px;}
.people1 {height: 220px;}
.border_near_people {bottom: 130px; left: 66%; height: 60%;}
.alt {bottom: 145px;}
#new2>.pic1 {bottom: 250px;}
#new2>.bold_second_highlight {bottom: 610px; left: 10px;}
#new2>.line_in_blog {bottom: 480px;}
.blog_content#text_in_new2 {left: 18%; bottom: 255px;}
#contact {height: 240px;}
}

@media screen and (max-width: 450px) {
.general_heading {font-size: 35px;}
.border_green_for_heading {width: 70%; left: 51px;}
.border_near_people {bottom: 110px; left: 66%; height: 65%;}
.blog_content>.content {width: 60%;}
.blog_graphics>.pic1 {width: 60%;}
.blog_graphics>.bold_second_highlight {left: 40px;}
#new2>.bold_second_highlight {left: -10px;}
#new2>.line_in_blog {bottom: 460px;}
.blog {height: 450px;}
}

@media screen and (max-width: 380px) {
.general_heading {font-size: 25px;}
.header {height: 600px;}
.border_green_for_heading {width: 80%; left: 11px;}
.pic1 {left: 140px; width: 180px;}
.line {width: 200px;}
.z2and3 {margin-left: 25%;}
.projects {height: 1500px;}
.proj4>.line {height: 200px; width: 2px;}
.proj4>.content, .proj4>.bold_second_highlight, .proj4>.more {left: 80px; text-align: left;}
.proj4>.bold_second_highlight {top: 120px;}
.proj4>.content, .proj4>.more {bottom: 90px;}
.green_border_u_want {height: 120px; top: 140px; width: 80%; left: 5%;}
.div_u_want {width: 80%;}
.border_near_people {bottom: 90px; left: 66%; height: 40%;}
.alt {bottom: 85px;}
.blog {height: 860px; margin-left: 5%;}
.blog_graphics>.pic1 {width: 90%; left: 20px;}
.border_blog {width: 89%;}
.blog_content {position: relative; top: 10px; left: 90px; width: 100%;}
#new2>.pic1 {bottom: 0px; left: -65%;}
#new2>.bold_second_highlight {bottom: 360px; left: -70px;}
#new2>.line_in_blog {bottom: 220px; left: 10px;}
.blog_content#text_in_new2 {top: 200px; width: 80%; left: 20%;}
.green_border_u_want {height: 100px; top: 120px;}
}
