.header
{
width: 100%;
height: 650px;
background-color: #f3f3f3;
opacity: 0.9;
background-size: 50% 100%;
background: linear-gradient(-15deg, transparent 70px, #f3f3f3 0) right, linear-gradient(10deg, transparent 10%, #f3f3f3 0) left;
}

.logo{
width: 220px;
height: 19px;
background-color: #58c934;
width: 80%;
float: left;
}

#menu {
width: 15px;
}

#menu_object {
width: 5%;
float: right;
}

.line_above {
height: 40px;
padding: 1% 3% 0 3%;
}

.header_cont {
padding: 1%;
display: flex;
flex-direction: row;
border: 1px solid #f3f3f3;
background-image: url(pics/back_photo1.png);
background-repeat: no-repeat;
/*
*/}

.page_numbers{
width: 16px;
color: #000000;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}
.current_page{
width: 118px;
height: 58px;
color: #58c934;
font-family: Roboto;
font-size: 100px;
font-weight: 700;
line-height: 27px;
padding: 15% 0 0 0;}

ul {
padding: 14% 4%;
}

/* Style for "PREV" */
.next {
width: 100%;
height: 33px;
color: #000000;
font-family: Roboto;
font-weight: 400;
text-transform: uppercase;
text-align: right;
position: relative;
bottom: 65px;
right: 20px;}

sup(near the heading) {
width: 19px;
height: 14px;
color: #58c934;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}

.presee {
text-align: center;
width: 86%;}

.general_heading{
/* Style for "WE LOVE GA" */
width: 120px;
color: #000000;
font-family: Roboto;
font-size: 65px;
font-weight: 700;
line-height: 45px;
text-transform: uppercase;
padding: 50% auto auto auto;
position: relative;
top: 50px;
z-index: 300;
}
.border_green_for_heading{
width: 30%;
height: 380px;
border: 6px solid #58c934;
position: relative;
bottom: 70px;
left: 301px;
z-index: 299;
text-align: left;
padding: 3%;}

.content_under_heading{
width: 394px;
height: 148px;
color: #000000;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}

/* Style for "Read More" */
.more {
height: 14px;
color: #000000;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}



.projects {
width: 100%;
}

.proj1 {
margin: 1% 20%;
height: 300px;
}

/* Style for "Picture 1" */
.pic1{width: 300px;
height: 180px;
position: relative;
bottom: 180px;
left: 210px;
z-index: 2;}

.highlight{
/* Style for "OUR PROJEC" */
width: 100%;
color: #000000;
font-family: Roboto;
font-size: 32px;
font-weight: 700;
line-height: 27px;
text-transform: uppercase;
/* Text style for "OUR PROJEC" */
letter-spacing: 1.6px;
text-align: center;
padding-top: 2%;
}

.bold_second_highlight {
/* Style for "URBAN CEIL" */
width: 161px;
height: 37px;
color: #000000;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
}

/* Style for "Divider" */


.content{
/* Style for "Is a set o" */
width: 30%;
color: #000000;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.readMore{
width: 85px;
height: 15px;
color: #000000;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}

.proj1>.more {left:0;}

.proj1>.bold_second_highlight {left:0;}

.line {width: 370px;
height: 2px;
background-color: #58c934;
z-index: 3 !important;}

.proj2 {
width: 40%;
margin: 8%;
height: 400px;
}

.proj2>.content, .proj2>.bold_second_highlight, .proj2>.more {
width: 130px;
position: relative; 
left: 40px;}

.proj2>.content {margin: 0.9%;}

.proj2>.line_str {position: relative;
bottom: 690px;
left: 30px;}

/* Style for "Picture 2" */
.pic2 {width: 200px;
height: 250px;
}
.green_border_near_2nd_picture
{ width: 200px;
height: 420px;
border: 6px solid #58c934;
position: relative;
bottom: 420px;
right: 30px;
}

/* Style for "Divider near 2nd picture" */
.line_str {width: 2px;
height: 250px;
background-color: #58c934;
}



.proj3 {height: 400px;
margin-top: 19%;
width: 40%;
}

.proj3>.content {width: 150px !important;
}

.proj3>.content, .proj3>.bold_second_highlight, .proj3>.more {
width: 100px;
position: relative; 
left: 40px;}


/* Style for "Picture 3" */
.pic3 {
width: 200px;
height: 218px;
}

.z2and3 {display: flex;
flex-direction: row;
height: 550px;
margin-left: 15%;
margin-right: auto;}

.proj3>.line_str {position: relative;
bottom: 360px;
left: 30px;}

.proj4 {height: 200px;
margin-top: 0%;
position: relative;
left: 25%;
width: 100%;}

.proj4>.pic1 {bottom: 0px;
top: 100px;
left: 0px;}

.proj4>.content, .proj4>.bold_second_highlight, .proj4>.more {
width: 200px;
position: relative; 
bottom: 30px;
left: 240px;
text-align: right;}
.proj4>.line {position: relative; left: 70px; bottom: 32px;}

/* Style for "Green border for u want to see more" */


/* Style for "div u want to see" */
.div_u_want {width: 65%;
background-color: #f3f3f3;
margin: 6% auto;
height: 100px;
text-align: center;
padding-top: 1%;}


.green_border_u_want {width: 65%;
height: 100px;
border: 6px solid #58c934;
position: relative;
top: 140px;
left: 14%;}

.people1 {width: 100%;
background-color: #f3f3f3;
text-align: center;
padding: 2%;
height: 280px;  /* поправить в адаптивности*/
background: linear-gradient(-15deg, transparent 70px, #f3f3f3 0) right, linear-gradient(10deg, transparent 10%, #f3f3f3 0) left;
}

/* Style for "Photo" */
.people_on_picture {width: 30%;
}
.alt {
width: 100%;
display: flex;
flex-direction: row;
position: relative; bottom: 175px;
padding: 2%;
margin: 0 2%;
}
.people1> div.content {
 text-align: center;
padding: 0 auto;
margin-right: 2%;
 width: 30%;
margin-top: 0;
}

/* Style for "green border" */
.border_near_people {width: 30%;
height: 60%;
border: 6px solid #58c934;
position: relative;
bottom: 170px;
left: 68%;}

/* Style for "our blog" */
.blog {width: 100%;
margin-left: auto;
margin-right: auto;
height: 650px;}

.blog_graphics {width: 49%; margin: 10% 2% 0 5%; height: 200px;}

.blog_graphics>.pic1 {bottom: 0px; width: 55%; left: 20px; z-index: 300;}

.blog_graphics>.bold_second_highlight {position: relative; bottom: 565px; left: 50px;}

.blog_content {height: 200px;
position: relative;
bottom: 200px;
left: 50%;
width: 50%;}

.blog_content#text_in_new2 {
width: 49%; margin: 20% 2% 0 5%; height: 200px;
position: relative;
left: 3%;}

.blog_graphics#new2 {
height: 200px;
position: relative;
bottom: 250px;
left: 50%;
/*width: 60%;*/}

#new2>.pic1 {bottom: 200px; left: -15%;}

.blog_content>.content {width: 100%;}

/* Style for "green border in blog" */
.border_blog {width: 60%; /*500px;*/
height: 200px; /*524px;*/
border: 5px solid #58c934;
position: relative;
bottom: 220px;
z-index: 301;}

/* Style for "Divider" */
.line_in_blog {width: 2px;
height: 150px;
background-color: #58c934;
position: relative;
bottom: 420px;
left: 15%;
z-index: 301;
}

#new2>.line_in_blog {width: 2px;
height: 150px;
background-color: #58c934;
position: relative;
bottom: 420px;
left: 29%;
z-index: 301;
}

#new2>.bold_second_highlight {left: 10px; text-align: right;}

.blog>div>.more {text-decoration: underline #58c934;}

#contact {height: 350px;}

.people1>span.more {text-align: bottom;}

/* Style for "line for name" */
.line_for_name {width: 70%;
height: 12px;
background-color: #f3f3f3; 
border-bottom: 2px solid #58c934;
border-top: #f3f3f3;
border-left: #f3f3f3;
border-right: #f3f3f3;
padding: 1%;}

.line_for_name:focus {border-bottom: 2px solid #58c934;  /*разобраться с этим в js*/
border-top: #f3f3f3;
border-left: #f3f3f3;
border-right: #f3f3f3;}

#next {width: 20%; margin-left: auto; padding: 5%; text-decoration: underline #58c934;}

/* Style for "Social" */
.social {width: 26px;
height: 26px;
background-color: #000000;

}

#twi {border-radius: 2px; height: 22px; margin-bottom: 2px; }

/* Style for "Products in footer" */
.copyright {width: 100%;
height: 41px;
opacity: 0.5;
color: #000000;
font-family: Roboto;
font-size: 17px;
font-weight: 400;
line-height: 24px;
text-align: center;
margin-top: 1%;
}


@media screen and (min-width: 950px) {
ul {padding: 10% 4%;}
.header_cont {width: 1300px; margin-left: auto; margin-right: auto;}
.projects {width: 80%; margin-left: auto; margin-right: auto; border: 5% solid #f3f3f3;}
.z2and3 {margin-bottom: 5%;}
.green_border_u_want {top: 175px;}
.people1 {height: 450px;}
.border_near_people {bottom: 330px; left: 66%; height: 80%;}
.alt {bottom: 385px;}
.blog {height: 750px; width: 80%; margin-top: 3%;}
.blog_graphics {margin-left: 15%;}
.blog_content {left: 60%;}
.blog_graphics>.bold_second_highlight {left: 110px;}
#new2>.pic1 {bottom: 300px;}
#new2>.line_in_blog {bottom: 530px;}
#new2>.bold_second_highlight {bottom: 660px; left: 26px;}
.blog_content#text_in_new2 {left: 17%; bottom: 230px;}
}

@media screen and (max-width: 850px) {
.people1 {height: 300px;}
.border_near_people {bottom: 200px; left: 66%; height: 70%;}
.alt {bottom: 215px;}
.blog {margin-top: 5%; margin-left: 5%; height: 690px;}
.blog_graphics {margin-left: 15%;}
.blog_content {left: 60%;}
#contact {height: 300px;}
.blog_content#text_in_new2 {left: 17%; bottom: 170px;}
}
